a {
    color: purple;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.heading {
  color: purple;
  font-size: 40px;
}
